- provide(:title, "Edit hotel")

%h1 Update hotele
.row
  .creat_form
    = form_for(@hotel) do |f|

      = f.label :title
      = f.text_field :title

      = f.label :cost
      = f.text_field :cost

      .field_boolean
        = f.label :breakfast
        = f.check_box :breakfast

      = f.label :description
      = f.text_field :description  

      = f.submit "Save changes", class: "btn btn-large btn-primary" 

