- provide(:title, 'New object')

%h1 Create a new object
.row
  .creat_form
    = simple_form_for(@hotel) do |f|

      = f.input :title
      = f.input :cost
      = f.input :breakfast
      = f.input :description   

      = f.submit "Create new object", class: "btn btn-large btn-primary" 
